
.panel-body {
    padding-top: 0cm;
}

.landing-page.cat-title {
    margin-bottom: .5cm;
    margin-top: .5cm;
}

.landing-page.cat-description {
    margin-top: .4cm;
}

a[data-toggle="tooltip"] .label {
    /* Get rid of the khaki fill color */
    color: #ffffff;
}

.label.big-label {
    font-size: 100%;
}


/* Offsets contents by the height of the nav bar */
#topbar-content-offset {
    overflow: scroll;
    position: absolute;
    top: 50px; /* height of the nav bar */
    bottom: 0px;
    width: 100%;
}